{{ block "index" . }}
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta></meta>

    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
  </head>
  <body>
    <div>
      {{ range .Data.Positions }}
        {{ template "position" . }}
      {{ end }}
    </div>
  </body>
</html>
{{ end }}

{{ block "position" . }}
  <div>
    <h1>{{ .Ticker }} -- Price: {{ .CurrentPrice }} -- Previous Close Price {{ .PreviousClosePrice.Value }}</h1>
  </div>
{{ end }}
