{{ block "index" . }}
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta></meta>

    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
  </head>
  <body>
    <div>
      {{ range .Data.Positions }}
        {{ template "position" . }}
      {{ end }}
      <br>
      {{ template "total_daily_gain" .Data.TotalDailyGain }}
    </div>
  </body>
</html>
{{ end }}

{{ block "position" . }}
  <div>
    <h1>{{ .Ticker }} -- Price: {{ .CurrentPrice }} -- Previous Close Price {{ .PreviousClosePrice }} -- Gain {{ .DailyGain }}£ -- Percentage {{ .DailyGainPercentage }}%</h1>
  </div>
{{ end }}

{{ block "total_daily_gain" . }}
  <div>
    <h1>Total Daily Gain {{ .Value }} </h1>
    <h1>Total Daily Gain Percentage {{ .Percentage }} </h1>
    <h1>Portfolio value {{ .PortfolioValue }} </h1>
  </div>
{{ end }}
